<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>新增</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<style>
			.layui-layedit{
				min-height:700px;
			}
			#LAY_layedit_1{
				min-height:700px;
			}
		</style>
	</head>

	<body>
		<div class="layui-form" lay-filter="formArea" id="formArea" style="padding: 20px 30px 0 0;">
			<form class="layui-form" action="" lay-filter="component-form-group">
				<div class="layui-form-item">
					<label class="layui-form-label">文章标题</label>
					<div class="layui-input-inline">
						<input type="text" name="title" lay-verify="" autocomplete="off" placeholder="请输入文章标题" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">主图</label>
					<div class="layui-input-inline">
						<div class="layui-upload">
							<button type="button" class="layui-btn" id="test2">上传图片</button>
							<div class="layui-upload-list">
								<img class="layui-upload-img" name='imgSrc' id="demo2">
								<p id="demoText"></p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="layui-form-item">
			        <label class="layui-form-label">分类</label>
			        <div class="layui-input-inline">
			            <input type="text" id="tree" name='id' class="treeInput" lay-filter="tree" class="layui-input">
			        </div>
			    </div>
				<div class="layui-form-item">
					<label class="layui-form-label">是否外部链接</label>
					<div class="layui-input-inline">
						<input type="radio" name="isOut" value="0" title="是">
						<input type="radio" name="isOut" value="1" title="否" checked="">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">外部链接</label>
					<div class="layui-input-inline">
						<input type="text" name="link" lay-verify="" autocomplete="off" placeholder="" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">文章类型</label>
					<div class="layui-input-inline">
						<input type="radio" name="type" value="1" title="活动中心" checked="">
						<input type="radio" name="type" value="2" title="帮助中心" >
						<input type="radio" name="type" value="3" title="打新课堂" >
						<input type="radio" name="type" value="4" title="盛世课堂" >
						<input type="radio" name="type" value="5" title="开户常见问题" >
						<input type="radio" name="type" value="6" title="开户协议（签名）" >
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
					<label class="layui-form-label">简介</label>
					<div class="layui-input-block">
						<textarea name="intro" placeholder="请输入内容" class="layui-textarea"></textarea>
					</div>
				</div>
				<div class="layui-form-item layui-form-text">
		            <label class="layui-form-label">详情</label>
		            <div class="layui-input-block">
		              	<textarea id="demo" class="layedit" name='e' style="display: none;"></textarea>
		            </div>
		        </div>
				<div class="layui-form-item layui-layout-admin">
					<div class="layui-input-block">
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>

		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script>
			var layeditss,indexss;
			function getlayedit(){
				var con = layeditss.getContent(indexss);
  				return con;
			}
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'form', 'laydate', 'upload', 'pubilc', 'treeSelect','layedit','xmSelect'], function() {
				var $ = layui.$,
					form = layui.form,
					pubilc = layui.pubilc,
					laydate = layui.laydate,
					upload = layui.upload,
					treeSelect = layui.treeSelect,
					layedit = layui.layedit,
					xmSelect = layui.xmSelect,
					tool = pubilc.tool;

				/****************************************初始化*******************************************/
				//获取页面参数
				var type = tool.getMethod('type');
				tool.init({
					isSreach: false
				})
				
				layedit.set({
				  	uploadImage: {
					    imgUrl: {
					    	url: 'https://sst.dalaokj.com/',
					    	type:'post',
					    	token:tool.options.token
					    },
				  	}
				});
      			indexss = layedit.build('demo'); //建立编辑器
      			layeditss = layedit;
      			
      			
				tool.ajax({
	          		url:'article/show',
	          		data:{},
	          		success:function(res){
	          			//---------------------------------------------------------
	          			res = res.data
	          			var arr = [],items = [];
	          			res.forEach(function(item){
	          				var jsons = {};
	          				jsons.id = item.id;
	          				jsons.name = item.name;
	          				jsons.treeList = [];
	          				try{
	          					(item.treeList).forEach(function(item_1){
		          					var jsona = {
		          						id:item_1.id,
		          						name:item_1.name
		          					};
		          					jsons.treeList.push(jsona);
		          				})
	          				}catch(x){
	          					
	          				}
		          				
	          				items.push(jsons)
	          			})
	          			treeSelect.render({
					        elem: '#tree',
					        data:items,
					        placeholder: '选择分类',
					        search: true,
					        style: {
					            folder: { enable: true},
					            line: {enable: true }
					        },
					        click: function(d){
					            $("#tree").attr('vals',d.current.id)
					        },
					        // 加载完成后的回调函数
					        success: function (d) {
								var a = $('#tree').attr('vals')
//					            treeSelect.checkNode('category_id', a);
					            //console.log($('#tree').val());
				                //获取zTree对象，可以调用zTree方法
					           	//var treeObj = treeSelect.zTree('tree');
					          	//console.log(treeObj);/
				                //刷新树结构
					           //treeSelect.refresh('tree');
					        }
					    });
	          		}
	          	})
				//判断编辑新增
				var uploadInst2 = tool.imgAjax({
					id: '#test2',
					imgId: '#demo2'
				});
				

			})
		</script>
	</body>

</html>